.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;

}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d0ffe3 100%)


    
}
.container{
   margin:50px 100px;
   
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: rgb(0, 74, 170);
}
.categories h1{
    color:white;
}
.categories img{
    width: 100px;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;

}
#subscribe h6{
    color: gray;
}
.orange-bg-two{
    background-color: #fceae8;
    border-radius: 10px;
    
}
footer{
    text-align: center;
    font-weight: bolder;
}

